

<!-- Large modal -->
<button class="card-category col-xs-12 col-md-6 background-wh" data-toggle="modal" data-target=".dol-dem-modal-lg">Dollar Democracy</button>

<div class="modal fade dol-dem-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">



  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "doldem-lp.png", class: "img-responsive", alt:"..." %>
      <div class="carousel-caption">
        Landing Page
      </div>
    </div>
    <div class="item">
      <%= image_tag "doldem-home.png", class: "img-responsive", alt:"..." %>
      <div class="carousel-caption">
        Home Page
      </div>
    </div>
     <div class="item">
      <%= image_tag "doldem-vio.png", class: "img-responsive", alt:"..." %>
      <div class="carousel-caption">
        Violations Page
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
  </div>
</div>

