#contact {
  align-items: center;
  text-align: center;

  h1 {
    font-size: 96px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 20px;
    color: rgba(0,0,0,0.7);
  }
  .logo{
    width: 100px;
    margin-right: 20px;
  }
  .row{
    margin-top: 40px;
  }
}
